body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #db79e8;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(15, 15, 15);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form button {
  background-color: #d65ff7;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #fa88ec;
}

ul {
  max-width: 600px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
}

li {
  background-color: rgb(197, 42, 244);
  padding: 15px 20px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

li button {
  margin-left: 10px;
  padding: 6px 10px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: rgb(7, 7, 7);
}

li button:first-of-type {
  background-color: #8a2882; /* Edit - Green */
}

li button:last-of-type {
  background-color: #981a92; /* Delete - Red */
}

@media (max-width: 600px) {
  form,
  ul {
    width: 90%;
  }
}

